.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.eslintrc.json
tsconfig.json
*.map
*.ts
*.vsix
!out/extension.js
# Keep CHANGELOG, README, LICENSE, snippets, package.json in the package.
